- vars_prompt:
    - name: cloudflare_tunnel_token
      prompt: Clouflare Tunnel secret Token
  # Inspired by sebdanielsson.cloudflared role
  tasks:
    - name: Ensure python3-debian is installed
      ansible.builtin.apt:
        name: python3-debian
        update_cache: true
        cache_valid_time: 300
        state: present

    - name: Set up Cloudflare apt repo
      ansible.builtin.deb822_repository:
        name: cloudflare
        types: deb
        uris: https://pkg.cloudflare.com/cloudflared
        suites: '{{ ansible_distribution_release }}'
        components: main
        signed_by: https://pkg.cloudflare.com/cloudflare-main.gpg
        state: present

    - name: Install cloudflared
      ansible.builtin.apt:
        name: "cloudflared=2025.11.1"
        update_cache: true
        cache_valid_time: 300
        state: present

    - name: Create cloudflared service
      ansible.builtin.command:
        cmd: "cloudflared service install {{ cloudflare_tunnel_token }}"
        creates: /etc/systemd/system/cloudflared.service

# After this, just set up ProxyCommand on the client side as per https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-cloudflared-authentication/#2-connect-as-a-user
