- hosts: syncthing

  vars:
    syncthing_service: syncthing@{{ syncthing_user }}.service

  tasks:
    - apt_key:
        id: FBA2E162F2F44657B38F0309E5665F9BD5970C47
        url: https://syncthing.net/release-key.gpg

    - apt_repository:
        repo: deb [signed-by=/etc/apt/keyrings/syncthing-archive-keyring.gpg] https://apt.syncthing.net/ syncthing stable-v2
        update_cache: yes

    - apt:
        name: syncthing=1.28.0
        update_cache: yes
        cache_valid_time: 300
      name: Install Syncthing
      notify: Restart Syncthing

    - copy:
        # https://github.com/syncthing/syncthing/tree/master/etc/linux-systemd/system
        src: "files/syncthing@.service"
        dest: "/etc/systemd/system/syncthing@.service"
      name: Update systemd service file
      notify: Restart Syncthing

    - systemd:
        name: "{{ syncthing_service }}"
        enabled: yes
        state: started

  handlers:
    - name: Restart Syncthing
      service:
        name: "{{ syncthing_service }}"
        daemon_reload: yes
        state: restarted
