- hosts: syncthing

  vars:
    syncthing_service: syncthing@{{ syncthing_user }}.service

  tasks:
    - ansible.builtin.get_url:
        url: https://syncthing.net/release-key.gpg
        dest: /etc/apt/keyrings/syncthing-archive-keyring.gpg
        checksum: sha256:c38853d2ccb890ae428e1fbf05d8c8fe0ba6f560bd050e161fb4e5324cdb4a9b

    - apt_repository:
        repo: deb [signed-by=/etc/apt/keyrings/syncthing-archive-keyring.gpg] https://apt.syncthing.net/ syncthing stable-v2
        update_cache: yes

    - apt:
        name: syncthing=2.0.14
        update_cache: yes
        cache_valid_time: 300
      name: Install Syncthing
      notify: Restart Syncthing

    - copy:
        # https://github.com/syncthing/syncthing/tree/master/etc/linux-systemd/system
        src: "files/syncthing@.service"
        dest: "/etc/systemd/system/syncthing@.service"
      name: Update systemd service file
      notify: Restart Syncthing

    - systemd:
        name: "{{ syncthing_service }}"
        enabled: yes
        state: started

  handlers:
    - name: Restart Syncthing
      service:
        name: "{{ syncthing_service }}"
        daemon_reload: yes
        state: restarted
